/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/*variables*/
/*fonts and typography*/
/* responsive typograpgy*/
/*font weight*/
/*margenes*/
/*z index*/
/*rgba(red,.2);*/
/*animation mixin*/
*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Poppins", sans-serif !important;
  font-size: 0.9rem;
  background-color: hsl(45deg, 0%, 98%);
  color: hsl(45deg, 4%, 35%);
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

main {
  width: 95%;
  margin: auto;
}

main section {
  padding: 0 15px;
}

.section {
  padding: 4.5rem 0 1rem;
}
.sectionTitle, .sectionTitleCenter {
  font-size: 1.25rem !important;
  color: hsl(45deg, 4%, 15%) !important;
  text-align: center;
  margin-bottom: 1rem;
}

.svgBlob {
  fill: hsl(45deg, 98%, 85%);
}
.svgColor {
  fill: hsl(45deg, 98%, 60%) !important;
}
.svgImg {
  justify-self: center;
}

/*layout*/
.container {
  max-width: 968;
  margin-left: 1, 5rem;
  margin-left: 1, 5rem;
  padding: 10px;
  margin: 1rem 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

p {
  font-size: 19px;
  color: hsl(45deg, 4%, 35%);
  font-family: initial;
  font-weight: 500;
}

h3 {
  color: hsl(45deg, 4%, 15%);
}

.homeData, .aboutData, .contactData, .securityData, .appData, .servicesData {
  margin: auto;
}

/*theme*/
.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  font-size: 1.8rem;
  cursor: pointer;
}

body.dark-theme {
  background-color: hsl(45deg, 8%, 13%) !important;
  color: hsl(45deg, 4%, 80%);
  /*button*/
}
body.dark-theme .sectionTitle, body.dark-theme .sectionTitleCenter {
  color: hsl(45deg, 4%, 95%) !important;
}
body.dark-theme .svgBlob {
  fill: hsl(45deg, 98%, 75%) !important;
}
body.dark-theme .svgColor {
  fill: hsl(45deg, 98%, 60%) !important;
}
body.dark-theme p {
  color: hsl(45deg, 4%, 80%);
}
body.dark-theme h3 {
  color: hsl(45deg, 4%, 95%);
}
body.dark-theme .button {
  background-color: hsl(45deg, 98%, 60%);
}
body.dark-theme .button:hover {
  background-color: hsl(45deg, 98%, 48%);
}
body.dark-theme .buttonLink {
  padding: 15px !important;
}
body.dark-theme .header {
  background-color: hsl(45deg, 8%, 13%) !important;
  /*active links*/
}
@media screen and (max-width: 767px) {
  body.dark-theme .header .navMenu {
    background-color: hsl(45deg, 8%, 16%);
  }
}
body.dark-theme .header .navLink, body.dark-theme .header .navLogo, body.dark-theme .header .navToggle {
  color: hsl(45deg, 4%, 95%);
}
body.dark-theme .header .activeLink::before {
  background-color: hsl(45deg, 4%, 95%);
}
body.dark-theme .contactAddress {
  color: hsl(45deg, 4%, 95%);
}
body.dark-theme .contactInformation {
  color: hsl(45deg, 4%, 80%);
}
body.dark-theme .servicesData {
  background-color: hsl(45deg, 8%, 16%);
}
body.dark-theme .footer {
  background-color: hsl(45deg, 8%, 16%);
}
body.dark-theme .footerLogo {
  color: hsl(45deg, 4%, 95%);
}
body.dark-theme .footerLink {
  color: hsl(45deg, 4%, 80%);
}
body.dark-theme .footer .footerSocial .footerLink {
  color: hsl(45deg, 4%, 95%);
}
body.dark-theme .footer p.footerCopy {
  color: hsl(45deg, 4%, 80%);
}

.dark-theme {
  color: hsl(45deg, 0%, 100%) !important;
  background-color: hsl(45deg, 4%, 35%) !important;
}

/*header*/
.header {
  width: 100%;
  background-color: hsl(45deg, 0%, 98%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

/*nav*/
.nav {
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .navMenu {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 2rem 0;
    width: 90%;
    top: -100%;
    right: 0;
    left: 0;
    margin: 0 auto;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    z-index: 100;
  }
}
.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.25rem;
}
.navLink, .navLogo, .navToggle {
  color: hsl(45deg, 4%, 15%);
  font-weight: 600;
}
.navToggle {
  font-size: 1.3rem;
  cursor: pointer;
}

.navLogo, .navToggle {
  position: relative;
  z-index: 1000;
}

/*show menu*/
.showMenu {
  top: 3rem;
}

/*active links*/
.activeLink {
  position: relative;
}
.activeLink::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: hsl(45deg, 4%, 15%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/*home*/
.homeContainer {
  row-gap: 2rem;
  margin-bottom: 3rem;
}
.homeTitle {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.homeDescription {
  margin-bottom: 2rem;
}

/*about*/
.aboutContainer {
  row-gap: 2rem;
  margin-bottom: 3.5rem;
}
.aboutTitle {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.aboutData {
  text-align: center;
}

/*security*/
.securityContainer {
  row-gap: 2rem;
  margin-bottom: 3rem;
}
.securityTitle {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.securityData {
  text-align: center;
}

/*services*/
.servicesContainer {
  padding-top: 1rem;
}
.servicesData {
  text-align: center;
  display: grid;
  background-color: #fff;
  row-gap: 1rem;
  box-shadow: 0 2px 6px hsla(45deg, 100%, 15%, 0.15);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.servicesImg {
  width: 135px;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.services .buttonLink {
  padding: 5px 10px;
}

/*contact*/
.contact {
  padding: 20px;
  margin-top: 70px;
}
.contactContainer {
  padding-bottom: 3rem;
}
.contactDescription {
  text-align: center;
  margin-bottom: 1.5rem;
}
.contactContent {
  row-gap: 0.75rem;
}
.contactAddress {
  font-size: 0.813rem;
  font-weight: 600;
  color: hsl(45deg, 4%, 15%);
}
.contactInformation {
  font-weight: initial;
  color: hsl(45deg, 4%, 35%);
}

/*footer*/
.footer {
  background-color: hsl(45deg, 98%, 80%);
  padding: 1rem;
  margin: 0 !important;
}
.footerContainer {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.footerLogo, .footerTitle {
  font-size: 1.225rem;
  margin-bottom: 0.75rem;
}
.footerLogo {
  font-size: 1.25rem !important;
  display: inline-block;
  font-weight: 600;
  color: hsl(45deg, 4%, 15%);
}
.footerDescription, .footerLogo {
  font-size: 0.813rem;
}
.footerLinks {
  display: grid;
  row-gap: 0.5rem;
}
.footerLink {
  color: hsl(45deg, 4%, 35%);
  font-size: 0.813rem;
}
.footer .footerSocial {
  display: flex;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.footer .footerSocial .footerLink {
  font-size: 1.5rem;
  color: hsl(45deg, 4%, 15%);
}
.footer .footerSocial .footerLink .bxl-facebook-circle:hover {
  color: #1877f2;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.footer .footerSocial .footerLink .bxl-twitter:hover {
  color: #1da1f2;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.footer .footerSocial .footerLink .bxl-instagram-alt:hover {
  color: #c32aa3;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.footer .footerSocialCopy {
  margin-bottom: 6rem;
}

p.footerCopy {
  font-size: 0.9rem;
  color: hsl(45deg, 4%, 35%);
  text-align: center;
}

/* scroll up */
.scrollUp {
  position: fixed;
  color: hsl(45deg, 98%, 60%);
  position: fixed;
  font-size: 2rem;
  bottom: -10%;
  right: 9%;
  border-radius: 0.25px;
  -webkit-border-radius: 0.25px;
  -moz-border-radius: 0.25px;
  -ms-border-radius: 0.25px;
  -o-border-radius: 0.25px;
  opacity: 0.8;
  z-index: 10;
}

.showScroll {
  position: fixed;
  bottom: 2rem;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(45deg, 98%, 80%) !important;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(45deg, 98%, 60%);
  border-radius: 0.5rem;
}

/*button*/
.button {
  display: inline-block;
  background-color: hsl(45deg, 98%, 60%);
  color: #1A1A1A;
  padding: 0.55rem 1rem;
  border-radius: 3rem;
  margin: 20px 0;
  font-weight: 600;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.button:hover {
  background-color: hsl(45deg, 98%, 48%);
}
.buttonHeader {
  display: none;
}
.buttonLink {
  background: none;
  padding: 0px;
  color: hsl(45deg, 4%, 15%);
}
.button:hover {
  background-color: hsl(45deg, 86%, 44%);
}
.buttonFlex {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.1rem;
       column-gap: 0.1rem;
  padding: 0.75rem 0.5rem;
}
.buttonIcon {
  font-size: 1.5rem;
}

.navLink {
  font-size: 17px;
}

/*media*/
@media screen and (max-width: 566px) {
  .navLogo {
    font-size: 20px;
  }
  .svgImg {
    width: 100%;
  }
  .section {
    padding: 1rem;
  }
  .sectionTitleCenter, .homeTitle {
    text-align: center !important;
    font-size: 1.5rem !important;
  }
  .appButtons {
    display: grid;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  .appButtons .buttonFlex {
    margin-bottom: 0;
    width: 12rem;
    justify-content: center;
  }
  section p {
    font-size: 18px;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  body.dark-theme .servicesData {
    max-width: 22rem;
  }
  .app .svgImg {
    width: 80%;
  }
}
@media screen and (min-width: 576px) {
  .navLogo {
    font-size: 22px;
  }
  .svgImg {
    width: 100%;
  }
  .sectionTitleCenter, p {
    text-align: start !important;
  }
  .homeContainer, .aboutContainer, .securityContainer, .servicesContainer, .footerContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .contactContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .appButtons {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  .appButtons .buttonFlex {
    margin: 5px;
    margin-top: 10px;
    width: 9rem;
    justify-content: center;
  }
  section .home p, section .about p, section .security p {
    font-size: 18px;
    text-align: start !important;
  }
  .contactAddress {
    font-size: 15px;
  }
  .homeTitle {
    font-size: 22px;
  }
  .app .sectionTitleCenter {
    font-size: 22px;
    text-align: center !important;
  }
  .app .sectionTitleCenter p {
    text-align: center !important;
  }
  .app p {
    text-align: center !important;
  }
  .app .svgImg {
    width: 50%;
  }
  .securityImg {
    order: -1;
  }
  .servicesData {
    text-align: center;
    width: 90%;
  }
  .footerCopy {
    text-align: center !important;
  }
}
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  main, .header {
    padding: 0 5%;
  }
  .footer {
    margin: auto !important;
    padding: 2% 7%;
  }
  .nav {
    height: 3rem;
  }
  .navList {
    flex-direction: row;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
  .navToggle {
    display: none;
  }
  .change-theme {
    position: initial;
  }
  .app {
    grid-template-columns: repeat(2, 1fr);
  }
  .appContainer {
    display: flex;
    margin-bottom: 20px;
  }
  section .app p {
    font-size: 18px;
    text-align: start !important;
  }
}
@media screen and (min-width: 992px) {
  .buttonHeader {
    display: block;
  }
  .servicesContainer {
    display: flex;
  }
  .contactContainer {
    grid-template-columns: 3fr 1.5fr 1.25fr;
  }
  .footerContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  main, .header {
    width: 100%;
    padding: 0 10%;
    margin: auto !important;
  }
  .footer {
    width: 100%;
    padding: 1rem 10% !important;
    margin: auto !important;
  }
}/*# sourceMappingURL=general.css.map */