/*media*/
@media screen and (max-width :566px){
    .navLogo{
 
       font-size: 20px;
    }
    .svgImg{
        width: 100%;
    }
    .section{
        padding: 1rem;
    }
    .sectionTitleCenter,.homeTitle{
        text-align: center!important;
        font-size: 1.5rem!important;
    }
    .appButtons{
        display: grid;
        width: fit-content;
        margin: auto;
       .buttonFlex{
        margin-bottom: 0;
        width: 12rem;
        justify-content: center;
    }
   }
   section p{
    font-size: 18px;
    text-align: center;
   }
   
}
@media screen and  (max-width :575px){
    body.dark-theme .servicesData {
        max-width: 22rem;
       }
       .app .svgImg {
        width: 80%;
       }
}


@media screen and  (min-width :576px){
    .navLogo{
        font-size: 22px;
    }
    .svgImg{
        width:100%;
    }
     
    .sectionTitleCenter,p{
        text-align: start!important;
    }
    .homeContainer,.aboutContainer,.securityContainer,.servicesContainer,.footerContainer{
        grid-template-columns: repeat(2,1fr);
    }    
    .contactContainer{
        grid-template-columns: repeat(3,1fr);
    }    
    .appButtons{
        width: fit-content;
        margin: auto;
       .buttonFlex{
        margin: 5px;
        margin-top: 10px;
        width: 9rem;
        justify-content: center;
    }
   }
  section .home p,section .about p,section .security p{
    font-size: 18px;
    text-align: start!important;
    }

  .contactAddress{
    font-size:15px;
  }
  .homeTitle{
    font-size: 22px;
  }
  .app .sectionTitleCenter{
    font-size: 22px;
    text-align: center!important;
    p{
     text-align: center!important;

    }
  }
  .app p{
    text-align: center!important;
  }
  .app .svgImg {
        width: 50%;
   }
  .securityImg{
    order: -1;
  }

  .servicesData {
    text-align: center;
    width: 90%;
  }
  .footerCopy{
    text-align: center!important;
  }

}


@media screen and  (min-width :767px){
    body{
        margin: 0;        
    }
    main,.header{
        padding:0 5%;
     }
     .footer{
        margin: auto!important;
        padding:2% 7%;
     }
    .nav{
    height: calc($headerHeight );
   &List{
    flex-direction:row;
    column-gap: 2.5rem;
   }
    &Toggle{
        display: none;
    }
}
    .change-theme {
        position: initial;
    }
    .app{
        grid-template-columns: repeat(2,1fr);
    }
    .appContainer{
        display: flex;
        margin-bottom: 20px;
    }
    section .app p{
        font-size: 18px;
        text-align: start!important;
        }


}
@media screen and  (min-width :992px){

    .buttonHeader{
    display: block;
 }
 .servicesContainer{
    display: flex;
 }
 .contactContainer{
    grid-template-columns: 3fr 1.5fr 1.25fr;
 }
 .footerContainer{
    grid-template-columns: repeat(4,1fr);
 }
}
@media screen and  (min-width :1024px){
    main,.header{        
        width: 100%;
        padding: 0 10%;
        margin: auto!important;
    }
    .footer{        
        width: 100%;
        padding: 1rem 10%!important;
        margin: auto!important;
    }
}