
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/*variables*/
$headerHeight:3rem;
$hue:45;
$sat:98%;
$mainColor:hsl($hue,$sat,60%);
$mainColorLight:hsl($hue,$sat,85%);
$mainColorLighten:hsl($hue,$sat,80%);
$mainColorAlt:hsl($hue,$sat,48%);
$titleColor:hsl($hue,4%,15%);
$textColor:hsl($hue,4%,35%);
$textColorLight:hsl($hue,4%,65%);
$bodyColor:hsl($hue,0%,98%);
$containerColor:#fff;
$scrollBarColor:hsl($hue,4%,85%);
$scrollThumbColor:hsl($hue,4%,75%);
/*fonts and typography*/
$bodyFont:'Poppins', sans-serif;
$biggestFontSize:1.75rem;
$h2FontSize:1.25rem;
$h3FontSize:1.225rem;
$normalFontSize:.900rem;
$smallFontSize:.813rem;
$smallerFontSize:.75rem;
/* responsive typograpgy*/
@media screen and (min-width : 968px){
    $biggestFontSize:3rem;
    $h2FontSize:1.75rem;
    $h3FontSize:1.25rem;
    $normalFontSize:1rem;
    $smallFontSize:.875rem;
    $smallerFontSize:.813rem;
}
/*font weight*/
$fontSemiBold:600;
$fontBold:700;
/*margenes*/
$mb-0-5:.5rem;
$mb-0-75:.75rem;
$mb-1:1rem;
$mb-1-5:1,5rem;
$mb-2:2rem;
/*z index*/
$z-toolTip:10;
$z-fixed:100;
