/*about*/
.about{
    &Container{
        row-gap: 2rem;
        margin-bottom: 3.5rem;
    }
    &Title{
        font-size: $biggestFontSize;
        font-weight: $fontBold;
        margin-bottom: $mb-0-75;
    }
    
    &Data{
        text-align: center;
    }
}