/*app*/
.app{
    &Container {
        gap: 2rem;       
    }

    &Data {
        text-align: center;
    }
    &Description {
        margin-bottom: $mb-1-5;
    }
    &Buttons {
        display: grid;
        grid-template-columns: repeat(2,max-content);
        justify-content: center;
        gap: .5rem;    
    }
    
}