/*contact*/
.contact{
 padding: 20px;
  margin-top: 70px;

    &Container{
        padding-bottom: 3rem;
    }
    &Description{
        text-align: center; 
        margin-bottom: 1.5rem;
    }
    &Content{
       row-gap: .75rem;
      }
      &Address{
        font-size: $smallFontSize;
        font-weight: $fontSemiBold;
        color:$titleColor;
      }
      &Information{
        font-weight: initial;
        color:$textColor ;
      }
}