/*header*/
.header {
    width: 100%;
    background-color: $bodyColor;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

/*nav*/
.nav{
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &Menu {        
        @media screen and (max-width:767px) {
            position: fixed;
            background-color: $containerColor ;
            box-shadow: 0 0 4px rgba(0, 0, 0, .1);
            padding: 2rem 0;
            width: 90%;
            top: -100%;
            right: 0;
            left:0;
            margin: 0 auto;
            transition: .4s;
            -webkit-transition: .4s;
            -moz-transition: .4s;
            -ms-transition: .4s;
            -o-transition: .4s;
            border-radius: 2rem;
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            -ms-border-radius: 2rem;
            -o-border-radius: 2rem;
            z-index: $z-fixed;
}
    }
    &List{
      display: flex;
      flex-direction: column;
      align-items: center;
       row-gap: 1.25rem; 
    }
    &Link,
    &Logo,
    &Toggle{
      color: $titleColor;
      font-weight: $fontSemiBold
    }
    &Toggle{
        font-size: 1.3rem;
        cursor: pointer;
    }
}
.navLogo,.navToggle{
    position: relative;
    z-index: 1000;
}
/*show menu*/
.showMenu{
    top:calc($headerHeight);
}
/*active links*/
.activeLink{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        bottom: -.5rem;
        left: 45%;
        width: 5px;
        height: 5px;
        background-color: $titleColor;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

}
}