/*home*/
.home{
    
    &Container{
        row-gap: 2rem;
        margin-bottom: 3rem;
    }
    &Title{
        font-size: $biggestFontSize;
        font-weight: $fontBold;
        margin-bottom: $mb-0-75;
    }
    &Description{
     margin-bottom:$mb-2 ; 
    }
}