/* scroll up */
.scrollUp{
    position: fixed;
    color: $mainColor;
    position: fixed;
    font-size: 2rem;
    bottom:-10%;
    right: 9%;
    border-radius: .25px;
    -webkit-border-radius: .25px;
    -moz-border-radius: .25px;
    -ms-border-radius: .25px;
    -o-border-radius: .25px;
    opacity: .8;
    z-index: $z-toolTip;    
}
.showScroll{
    position: fixed;
   bottom: 2rem;
}


/* SCROLL BAR */
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: $mainColorLighten!important;

    &-thumb{
        background-color:$mainColor;
        border-radius: .5rem;     

    }
}